* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}

body {
    height: 100vh;
    font-family: "Verdana", sans-serif;
    font-size: 14px;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
     background: url(assets/pxfuel.jpg);
    background-position: 0 ;
    background-color: rgb(220, 210, 212);
}

.container {
    background: linear-gradient(to top left, #9bd1e8, #ed0bedfa) ;
    padding: 1.2rem;
    border-radius: .6rem;
    border: 5px solid rgb(0, 0, 0);
    padding: 5rem;

}

h1 {
    margin: 1rem 0;
    text-align: center;
}

input {
    width: 100%;
    padding: .9rem;
    margin: 1.2rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: rgb(7, 49, 66);
    color: #fff;
    padding: .7rem .9rem;
    border: none;
    border-radius: 50rem;
    cursor: pointer;
    transition: all .2s linear;
    margin: 0 50% 0 39%;
    
}

button:hover {
    background-color: #1515e8;
}

#result {
    margin-top: 10px;
}
label{
    color: rgb(21, 2, 38);
}
h1{
    font-size: larger;
}